<div id="parentingView" class="w3-container">
    <article class="md-body-1 md-whiteframe-1dp w3-padding-bottom">
        <h3>The Boston Basics Campaign (continued)</h3>
        <section layout="row">
            <section flex="70" flex-sm="100">
                <p>
                    The Boston Basics Campaign began for the BPF as a partnership with the AGI to deliver on a vision.
                    The vision is that every family with infants or toddlers in Boston should know the Boston Basics and
                    receive support from family and friends for using them. The approach is meant to be very simple and efficient;
                    as such, we have chosen <i>not</i> to build yet another new and costly program to deliver the Boston Basics to
                    parents. Instead, we have established partnerships with most of the early childhood development and
                    parenting programs in Boston, and we are hard at work building similar partnerships (we call these partnerships
                    "Boston Basics Delivery Platforms") with the community-based health centers in town; city agencies, including
                    the resident services programs run by MassHousing; faith-based organizations; retail establishments such
                    as supermarkets, barber-shops and beauty salons; and other already existing entities that routinely touch
                    parents and other caregivers of young children.
                </p>
                <p>
                    The Boston Mayor’s Office of Education was the second partner, making this initiative a true public-private
                    partnership. Already, several city agencies have become delivery platforms for the Boston Basics,
                    beginning with the Boston Centers for Youth and Families (BCYF) that has 35 centers across the city.
                    In addition to the Mayor's Office and the AGI at Harvard, our other principal lead partners are WGBH
                    Public Broadcasting and the Pediatrics Department of Boston Medical Center (affiliated with the Boston
                    University Medical School).
                </p>
                <p>
                    The BPF's involvement in the work began with a commitment to fund a pilot of the Seeding Success
                    Campaign that the AGI had initiated with support from the  Kellogg Foundation. The pilot operates in
                    the Dudley neighborhood in collaboration with the Dudley Street Neighborhood Initiative (DSNI). It is
                    continuing and will be an important source of learning. However, even as the pilot was beginning, the
                    BPF realized it was well positioned to lead a city level effort. BPF’s Trustees proposed to rename the
                    Seeding Success Campaign and the Fundamental Five early childhood development propositions "the Boston Basics."
                    A citywide campaign was born.
                </p>
            </section>
            <section flex="20" hide-sm layout-padding>
                <img src="assets/img/pregnant-couple.jpg" alt="a pregnant couple" />
            </section>
        </section>
        <section>
            As a private sector group of African Americans whose careers were made possible by the efforts of
            past generations, especially the Civil Rights Movement, the BPF is providing leadership, development,
            and, most importantly, the initial seed investment for the citywide campaign. And be clear that while
            the BPF has been created by a small group of Black leaders, our Boston Basics investment is targeted
            to ALL the children of Boston (and beyond) ages 0 to 3, and their parents and other caregivers.
            All the materials and assets of the Campaign will be "open source"&#8212; that is, available on
            the BPF's website, as well as on the dedicated <a target="_blank" href="http://www.bostonbasics.org">Boston Basics website</a>
            &#8212;at no cost to anyone who wants to use them. Materials will be provided in several languages.
        </section>
        <p>
            Delivery of the Boston Basics will be supported by a multi-media strategy. WGBH will support us with
            messaging delivered via its various communications assets, as well as through its education materials
            development division. A key strategy is delivery of simple but powerful information on the Boston Basics
            using short but high quality videos that vividly illustrate how parents can employ the Boston Basics with
            their children. The BPF awarded WGBH a grant for the full cost of developing an overview and five additional
            videos, one for each of the five Basics, showing actual Boston parents using the Basics to build their
            infants' and toddlers' foundations for learning. These videos have been produced so that they show well on a
            variety of devices, especially smartphones and tablets as these "conquerors of the digital divide" represent
            a key mode of delivery for us. We are now raising the funding to produce videos, and associated print materials
            (e.g., handbooks, posters, etc.), in Spanish, Portuguese, Haitian-Creole, and other languages used in
            Boston's culturally diverse neighborhoods.
        </p>
    </article>
</div>