<section ng-controller="ContactCtrl" class="md-body-1 w3-container">
    <section class="w3-twothird">
        <article class="md-whiteframe-1dp w3-padding-4">
            <h2>Contact Form</h2>
            <p>
                Please contact us with your ideas, suggestions, and questions.
            </p>
            <form name="userForm" ng-submit="sendEmail(message.name, message.subject, message.message)">
                <md-input-container>
                    <label>Name</label>
                    <input ng-model="message.name" type="text" required>
                </md-input-container>
                <md-input-container>
                    <label>Email</label>
                    <input ng-model="message.email" type="email" required>
                </md-input-container>
                <md-input-container>
                    <label>Subject</label>
                    <input ng-model="message.subject" type="text" required>
                </md-input-container>
                <md-input-container>
                    <label>Message</label>
                    <textarea ng-model="message.message" columns="1" rows="5" md-maxlength="200" required></textarea>
                </md-input-container>
                <md-button type="submit" ng-disabled="message.subject.$invalid && message.message.$invalid" class="md-raised md-primary md-hue-2" title="Clicking here will open your email client with your message populated.">Submit</md-button>
            </form>
        </article>
    </section>
    <section class="w3-third">
        <article class="md-whiteframe-1dp w3-padding-4">
            <h2>How to Invest in the BPF</h2>
            <p>
                All contributions should be made out to "The Black Philanthropy Fund (4635)" and
                mailed to the attention of The Boston Foundation, 75 Arlington St, 10th Floor, Boston,
                MA 02116.
            </p>
            <img src="assets/img/heart-hands.jpg" alt="loving hands" class="w3-image" />
        </article>
    </section>
</section>