<div id="bostonBasicsView" ng-controller="BasicsCtrl" class="w3-container">
    <article class="md-body-1 md-whiteframe-1dp">
        <section class="w3-padding-4">
            <img src="assets/img/bbLogo.png" alt="The Boston Basics" class="w3-image" />
        </section>
        <p>
            <b>The Boston Basics</b> offers strategies to all parents of young children.
            It is a research-based set of parenting principles and effective parenting skills
            developed by Professor Ron Ferguson and the research of the Achievement Gap Initiative at Harvard.
            The five fundamental principles are:
        </p>
        <p>
            <ol>
                <li>
                    <b>Maximize Love, Manage Stress. </b>
                    <span>Build a positive, supportive bond with your child. Maximize loving responsiveness and manage stress for both child and parents beginning at birth.</span>
                </li>
                <li>
                    <b>Talk, Sing and Point. </b>
                    <span>Use real talk, not baby talk, from the very beginning. Use lots of gestures&#8212;pointing and being physically expressive.</span>
                </li>
                <li>
                    <b>Count, Group, and Compare. </b>
                    <span>Use activities that develop mathematical reasoning, for example, order, sequence, magnitude and time.</span>
                </li>
                <li>
                    <b>Explore Through Movement and Play. </b>
                    <span>
                        Think of physical spaces as opportunities to play and learn. Encourage maneuvering (crawling and walking) in cluttered spaces,
                        and manipulating three-dimensional toys and objects.
                    </span>
                </li>
                <li>
                    <b>Read and Discuss Stories. </b>
                    <span>
                        Read even before the child can understand or respond. Discuss stories daily. Take active walks through the neighborhood and/or the store. Point and discuss while driving.
                        Cultivate a love of learning through conversations as you read, live, walk and ride.
                    </span>
                </li>
            </ol>
        </p>
        <p>
            The Boston Basics is a framework for <i>collective</i> action on effective early childhood education in our community, where effective parenting strategies move from knowledge, to understanding,
            to behavior, to culture&#8212;and thus become part of the fabric of the community. <b>The campaign objective: dramatically increase kindergarten
            readiness, setting a foundation for college and career readiness for generations of our youth.</b>
        </p>
        <h3 class="w3-center">Watch the Boston Basics videos!</h3>
        <h4 class="w3-center">
            <i>Click the bubbles below to link to short videos that provide a detailed explanation of each of the Boston Basics:</i>
        </h4>
        <section id="bubbles" class="w3-center">
            <span >
                <img ng-click="showVideo($event, 'https://www.youtube.com/embed/gK464FuqzPc?autoplay=1')" src="assets/img/bb-step1.jpg" alt="Step 1" class="w3-image" />
            </span>
            <span>
                <img ng-click="showVideo($event, 'https://www.youtube.com/embed/rlKkl0RB5Ec?autoplay=1')" src="assets/img/bb-step2.jpg" alt="Step 2" class="w3-image" />
            </span>
            <span>
                <img ng-click="showVideo($event, 'https://www.youtube.com/embed/BLFS0sy0hsQ?autoplay=1')" src="assets/img/bb-step3.jpg" alt="Step 3" class="w3-image" />
            </span>
            <span>
                <img ng-click="showVideo($event, 'https://www.youtube.com/embed/xX2DFGO58z8?autoplay=1')" src="assets/img/bb-step4.jpg" alt="Step 4" class="w3-image" />
            </span>
            <span>
                <img ng-click="showVideo($event, 'https://www.youtube.com/embed/4HFHPOO9OAM?autoplay=1')" src="assets/img/bb-step5.jpg" alt="Step 5" class="w3-image" />
            </span>
        </section>
    </article>
</div>